footer
	
//- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
script(src='js/vendor/jquery-1.11.1.min.js')

script(src='js/vendor/bootstrap.min.js')
//- Main js file
script(src='js/main.js')
//- Page specific js files
script(src='js/home.js')

